@import './lib/scss/reset.scss';
@import './lib/scss/themes.scss';
@import './lib/scss/variables.scss';
@import './lib/scss/base.scss';
@import './lib/scss/typography.scss';
@import './lib/scss/utilities.scss';

body {
    overflow-x: hidden;
    color: var(--text-color);
    background: var(--background-color);
    transition: all ease var(--duration);
    margin: 0;
    font-family: source-sans-3, azo-sans-web, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;

    display: flex;
    flex-direction: column; // And main gets flex: 1;

    height: 100%;
    width: 100%;
    min-height: 100vh;

    /* Mobile Safari fix via: https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/ */
    min-height: -webkit-fill-available;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: -webkit-fill-available;
}

@media (prefers-reduced-motion) {
    body,
    html {
        scroll-behavior: inherit;
        --duration: 0;
    }
}
